/* Static Page Builder: Page Frames  
2023-02-07 */

.frame-top-outer {border-top: 10px solid #F7F9F9; border-left: 10px solid #F7F9F9; border-right: 10px solid #F7F9F9; display: block; margin: 0 auto; width: 100%; height: auto;}
.frame-top-inner {border-top: 5px groove #1B5E20; border-left: 5px groove #1B5E20; border-right: 5px groove #1B5E20; display: block; margin: 0 auto; width: 100%; height: auto; border-radius: 0px 0px 0 0;}
.frame-page-outer {border-left: 10px solid #F7F9F9; border-right: 10px solid #F7F9F9; display: block; margin: 0 auto; width: 100%; height: auto;}
.frame-page-inner {border-left: 5px groove #1B5E20; border-right: 5px groove #1B5E20; display: block; margin: 0 auto; width: 100%; height: auto; border-radius: 0 0 0px 0px;}
.frame-bottom-outer {border-bottom: 10px solid #F7F9F9; border-left: 10px solid #F7F9F9; border-right: 10px solid #F7F9F9; display: block; margin: 0 auto; width: 100%; height: auto;}
.frame-bottom-inner {border-bottom: 5px groove #1B5E20; border-left: 5px groove #1B5E20; border-right: 5px groove #1B5E20; display: block; margin: 0 auto; width: 100%; height: auto; border-radius: 0 0 0px 0px;}

